<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | My Portfolio</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    /* ヘッダーのスタイル */
    header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
    }
    header h1 {
      text-align: left;
      margin-left: 20px; /* ヘッダータイトルを左寄せ */
    }
    nav ul {
      list-style-type: none; /* リストのマーカーを非表示 */
      padding: 0;
      display: flex; /* ナビゲーション項目を横並びに */
    }
    nav li {
      margin-right: 20px; /* ナビゲーション項目の間隔 */
    }
    nav a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease; /* リンクの色を変化させるトランジション */
    }
    nav a:hover {
      color: #f0f0f0; /* ホバー時のリンクの色 */
    }

    /* セクションのスタイル */
    section {
      padding: 20px;
      margin: 20px 0;
      border-top: 1px solid #ccc; /* セクション間にボーダーライン */
    }
    section h2 {
      text-align: center; /* セクションタイトルを中央寄せ */
    }
    ul {
      list-style: none; /* リストのデフォルトのマーカーを非表示にする */
      padding: 0; /* リストの内側の余白をリセット */
      text-align: center; /* リストアイテムのテキストを中央に寄せる */
    }
    ul li {
      margin-bottom: 10px; /* リストアイテムごとの下部マージンを設定 */
    }

    /* フッターのスタイル */
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      position: fixed; /* ページの下部に固定 */
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <h1>Welcome to My Portfolio</h1>
    <nav>
      <ul>
        <li><a href="#about">About me</a></li>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#background">Background</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="about">
      <h2>About me</h2>
      <ul>
        <li>名前：三谷　竜弘</li>
        <li>所属：鳥取大学工学部電気情報系学科</li>
        <li>誕生日：2004/03/16</li>
        <li>趣味：読書、ゲーム、音楽を聴く</li>
      </ul>
    </section>
    <section id="introduction">
      <h2>Introduction</h2>
      <ul>
        <li>名前：三谷　竜弘</li>
        <li>所属：鳥取大学工学部電気情報系学科</li>
        <li>誕生日：2004/03/16</li>
        <li>趣味：読書、ゲーム、音楽を聴く</li>
      </ul>
    </section>
    <section id="work">
      <h2>Work</h2>
      <ul>
        <li>名前：三谷　竜弘</li>
        <li>所属：鳥取大学工学部電気情報系学科</li>
        <li>誕生日：2004/03/16</li>
        <li>趣味：読書、ゲーム、音楽を聴く</li>
      </ul>
    </section>
    <section id="background">
      <h2>Background</h2>
      <ul>
        <li>所属：鳥取大学工学部電気情報系学科</li>
        <li>誕生日：2004/03/16</li>
        <li>趣味：読書、ゲーム、音楽を聴く</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Your Name</p>
  </footer>
</body>
</html>
